* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(233, 233, 233, 0.5);
    padding: 20px;
    background-color: #F3EBEB;
    position: sticky;
    top: 0;
}


.nav_menu {
    display: flex;
    gap: 40px;
    align-items: center;
    list-style: none;
}

.nav_menu li a {
    text-decoration: none;
    color: black;
}

.nav_logo a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;
}

.nav_hamburger {
    background: none;
    cursor: pointer;
    border: none;
    display: none;
}

.nav_hamburger img {
    width: 45px;
}

.nav_logo img {
    width: 70px;
}

.section1 {
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    text-align: left;
}

.section1_content {
    width: 50%;
    padding: 30px;
}

.section1_content h1 {
    font-size: 75px;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: "Rochester", cursive;
}

.section1_content h3 {
    font-size: 35px;
    color: #555555;
}

.section1_content p {
    font-size: 20px;
    color: #555555;
    letter-spacing: 1px;
}

.section1_content .read_more {
    color: black;
    font-size: 20px;
}


.section2 {
    background-color: white;
    padding: 70px 350px;
    text-align: center;
}

.section2.content {
    max-width: 800px;
    margin: 0 auto;
}

.section2 h2 {
    font-family: "Rochester", cursive;
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.section2 p {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

.form1 input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1em;
    color: #333;
    margin-bottom: 15px;
    box-sizing: border-box;
    text-align: center;
}

.form1 input::placeholder {
    color: #aaa;
}

.form1 button {
    width: 100%;
    padding: 15px;
    background-color: #8b5a2b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form1 button:hover {
    background-color: #6d4421;
}



.section3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 20px;
    width: 90%;
    margin: 0 auto;
    gap: 10px;
}

img {
    width: 100%;
}

.img1 {
    width: 10%;
}

.img2 {
    width: 10%;
}

.img3 {
    width: 10%;
}

.section3_left {
    margin: auto;
    gap: 30px;
    width: 60%;

}

.section3_left .column1 {
    padding: 40px;
    background-color: rgb(229, 227, 224);
    margin-bottom: 10px;
    border-radius: 10px;


}

.section3_left .column2 {
    padding: 40px;
    background-color: rgb(229, 227, 224);
    margin-bottom: 10px;
    border-radius: 10px;

}

.section3_left .column3 {
    padding: 40px;
    background-color: rgb(229, 227, 224);
    border-radius: 10px;

}

.section3_right {
    width: 55%;
    margin-top: 40px;

}

.section3_left .column1 h3 {
    font-size: 40px;
    font-family: "Rochester", cursive;
}

.section3_left .column1 p {
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.section3_left .column2 h3 {
    font-size: 40px;
    font-family: "Rochester", cursive;
}

.section3_left .column2 p {
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.section3_left .column3 h3 {
    font-size: 40px;
    font-family: "Rochester", cursive;
}

.section3_left .column3 p {
    font-size: 20px;
    font-family: Arial, sans-serif;
}

@media (max-width: 1200px) {
    .section1 {
        min-height: auto;
        padding: 50px 10px;
    }

    .nav_menu {
        display: none;
    }

    .nav_hamburger {
        display: block;
    }
}

@media (max-width: 700px) {
    .section1_content {
        width: 100%;
        padding: 5px;

    }

    .section1_content h1 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .section1_content h3 {
        font-size: 25px;
    }

    .section1_content p {
        font-size: 15px;
    }

    .section1 {
        width: 100%;

    }
}


@media (max-width: 425px) {
    .section1_content {
        width: 100%;
        padding: 5px;

    }

    .section1_content h1 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .section1_content h3 {
        font-size: 25px;
    }

    .section1_content p {
        font-size: 15px;
    }

    .section1 {
        width: 100%;
    }
}

@media (max-width: 946px) {
    .section2 {
        width: 100%;
        padding: 45px 100px;
    }
}

@media (max-width: 700px) {
    .section2 h2 {
        font-size: 25px;
    }

    .section2 p {
        font-size: 15px;
    }

    .form1 {
        max-width: 300px;
    }

    .form1 input {
        padding: 8px;
        margin-bottom: 12px;
        font-size: 15px;
    }

    .form1 button {
        padding: 8px;
        font-size: 15px;
    }
}


@media (max-width: 1000px) {
    .section3 {
        background-size: contain;
        background-position: center bottom;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        min-height: auto;
        padding: 15px 0 50% 0;
        overflow: hidden;
    }
}

@media (max-width: 700px) {
    .section3_left .column1 h3 {
        font-size: 20px;
    }

    .section3_left .column1 p {
        font-size: 10px;
    }

    .section3_left .column2 h3 {
        font-size: 20px;
    }

    .section3_left .column2 p {
        font-size: 10px;
    }

    .section3_left .column3 h3 {
        font-size: 20px;
    }

    .section3_left .column3 p {
        font-size: 10px;
    }
}