* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section4_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 90%;
    gap: 20px;
    margin: 10px auto;

}

/* .section4_img {
    padding: 20px;
} */

.section4_img img {
    width: 550px;
}

.section4_content {
    width: 100%;
    font-family: sans-serif;
    /* line-height: 1.7; */
}

.section4_content h1 {
    margin-top: -28px;
    letter-spacing: 2.5px;
    color: #967d68;
    font-family: "Rochester";
}

.section4_content h2 {
    color: #967d68;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: lighter;
}

.section4_content #motivated,
#july {
    font-size: 1.75rem;
    font-size: 21px;
    color: #503b2a;
    letter-spacing: 0.5px;
    margin: 25px 0px;
    font-family: "Poppins";

}

#july {
    border-bottom: 1px solid #503b2a;
    padding-bottom: 20px;
}

.section4_content #Travel {
    font-family: "Rochester";
    color: #6d5847;
    font-size: 2rem;
}

.section4_btn {
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
    background-color: #694E38;
    padding: 20px 30px;
    color: white;
    border-radius: 5px;
}

/* end of sectin 4 */

.section5_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 100px auto;
}

/* this will be shown in mobile and tablet */
.section5_content {
    display: none;
    width: 50%;
    text-align: center;
}

.section5img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section5img img {
    width: 550px;
    object-fit: cover;
}

.dots {
    display: flex;
    /* justify-self: center; */

}

.dots img {
    width: 30px;
}

/* this will b hide in mobile and tablet */

.section5_contentonimg {
    position: absolute;
    left: 15%;
    width: 30%;
    z-index: 10;
}

#Testimonials {

    font-family: "Rochester";
    color: #6d5847;
    font-size: 5em;
    line-height: 2.5em;
    letter-spacing: 10px;
}

#pretium,
#Member {

    font-size: 1.75rem;
    font-size: 21px;
    color: #503b2a;
    letter-spacing: 0.5px;
    margin: 15px 0px;
    font-family: "Poppins";
}

#Elizabeth {

    font-family: "Rochester";
    color: rgb(80, 78, 78);
    font-size: 2rem;
    letter-spacing: px;
}

/* end of section5 */

.section6_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    width: 85%;
    margin: 20px auto;
}

.section6_header_container {
    text-align: center;
    line-height: 3.5rem;
}

.section6_header_container #Pricing {
    font-family: "Rochester";
    color: #6d5847;
    font-size: 3.5rem;
    letter-spacing: 7px;

}

#recommended {
    font-family: "Rochester";
}

.section6_header_container #grab {
    font-size: 1.7rem;
    margin-top: 10px;
    color: #967d68;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: lighter;
}

.card {
    border: 1px solid rgb(212, 207, 207);
    text-align: center;
    padding: 50px 35px;
    line-height: 1.7em;
    border-radius: 10px;

}

.card h2 {

    font-weight: lighter;
    font-family: sans-serif;
    line-height: 30px;
    font-size: 25px;
    color: #5e4939;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.card h3 {

    font-family: "Rochester";
    color: #6d5847;
    font-size: 3.5rem;
    letter-spacing: 7px;
    margin: 40px;
}

.card p {
    color: #967d68;
    font-size: larger;
    line-height: 2;
    text-transform: capitalize;
    font-weight: bold;
    margin: 15px;
}

.card2 {
    z-index: 30px;
    box-shadow: 2px 2px 30px rgb(226, 223, 223);

}

.card1,
.card3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card .btn {
    outline: none;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 20px;

}

.card2 .btn {
    background-color: #694E38;
    color: #fff;
}



/* responsiveness */



/* 1. Laptops / Small Desktops (max-width: 1200px) */
@media screen and (max-width: 1200px) {}

/* 2. Tablets & Small Laptops (max-width: 1024px) */

@media screen and (max-width: 1024px) {
    .section4_container {
        display: flex;
        max-width: 90%;
        gap: 8px;
        /* border: 2px solid green; */

        margin: 20px auto;
    }

    .section5img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    #motivated,
    #july {
        font-size: 1.0rem;
        font-size: 21px;
        color: #503b2a;
        letter-spacing: 0.5px;
        margin: 15px 0px;
        font-family: "rochester";
    }

    .section4_content {
        line-height: 2rem;
        width: 50%;

        /* border: 2px solid red; */
    }

    /* .section4_content{
    position: absolute;
    right: 60px;
    margin-bottom: 150px;
     width: 50%;
     padding-top: 50px;
} */
    .section4_img {
        /* border: 2px solid black; */
        width: 50%;
        max-height: fit-content;
        margin-top: 60px;

    }

    .section4_img img {
        width: 100%;
    }

    .section4_content h2 {
        color: #967d68;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 20px;
    }

    .section5_container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;

        width: 40vb;
        margin: 100px auto;

    }

    .section4_content #motivated {
        /* border: 2px solid black; */
        font-size: 16px;
        width: 90%;
        line-height: 1.5rem;

    }

    .section4_content h2 .section6_cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 30px;
        width: 85%;
        margin: 20px auto;
    }

    .section6_cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 30px;
        width: 85%;
        margin: 20px auto;
    }
}

/* 3. Mobile Landscape / Large Tablets (max-width: 768px) */
@media screen and (max-width: 768px) {

    .section4_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: 10px auto;
        gap: 8px;
    }

    .section4_img {
        /* border: 2px solid black; */
        width: 100%;
        max-height: fit-content;
        margin-top: 60px;

    }

    .section4_content {
        line-height: 2rem;
        width: 100%;
        margin-top: 40px;
        /* border: 2px solid red; */
    }

    .section5_contentonimg {

        position: absolute;
        left: 10%;
        width: 50%;
        z-index: 10;
        color: white;
    }

    .section5img .opacity {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }
}

/* 4. Small Mobile Phones (max-width: 480px) */
@media screen and (max-width: 425px) {

    .section4_container {
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 95%;
        margin: 10px auto;

    }

    .section4_img img {
        width: 100%;
        border-radius: 10px;
    }

    .section4_content {
        width: 90%;
        margin: 30px auto;
        text-align: center;
    }

    .section5_container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 50px auto;
    }


    .section5_content {
        display: block;
        width: 90%;
        text-align: center;
    }

    /* this will b hide in mobile and tablet */

    .section5_contentonimg {
        /* position: absolute;
    left: 15%;
    width: 30%;
    z-index: 10; */
        display: none;
    }

    #Testimonials {

        font-family: "Rochester";
        color: #6d5847;
        font-size: 2em;
        line-height: 1.5em;
    }

    .dots {
        display: flex;
        justify-content: center;

    }

    /* .section5img {
    display: flex;
    justify-content: center;
    align-items: center;
} */

    .section5img img {
        width: 390px;
        object-fit: cover;
        border-radius: 10px;
    }

    #pretium {
        font-size: 16px;
    }




}

@media screen and (max-width: 375px) {

    .section5img img {
        width: 300px;
        object-fit: cover;
        border-radius: 10px;
    }

    .section6_header_container #Pricing {
        font-family: "Rochester";
        color: #6d5847;
        font-size: 2.5rem;
        letter-spacing: 7px;
    }

    .section6_header_container #grab {
        font-size: 1.1rem;
        margin-top: 7px;
        color: #967d68;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-weight: lighter;
    }

    #reduce {
        font-size: 16px;
        margin-top: 10px;
    }


}